{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container mt-5 info d-flex col-8">
  <div class="row text-center">
    <div class="col-md-8 mt-3 offset-md-2">
<h1>{% trans "Log In" %}</h1>
</div>
  </div>

  <div class="row text-center p-4">
<p>{% blocktrans %}If you would like to book a table or manage your bookings then please log in, otherwise, if you have not created an account yet, then please
  <a href="{{ signup_url }}">REGISTER</a> first.{% endblocktrans %}</p>
</div>
<div class="row d-flex justify-content-center">
<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <row class="d-flex justify-content-center m-3">
  <button class="primaryAction btn-lg btn-outline-dark font-weight-bold " type="submit">{% trans "Sign In" %}</button>
</row>
</form>
</div>
</div>



{% endblock %}