{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="container mt-5 info">
  <div class="row text-center">
    <div class="col-md-8 mt-3 offset-md-2">
<h1>{% trans "Sign Out" %}</h1>
</div>
</div>

<div class="row d-flex justify-content-center text-center p-4">
<p>{% trans 'Are you sure you want to sign out?' %}</p>
</div>

<div class="row d-flex justify-content-center p-4 ">

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn-lg btn-outline-dark font-weight-bold" type="submit">{% trans 'Sign Out' %}</button>
</form>
</div>
</div>


{% endblock %}
