@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Karla&family=Parisienne&display=swap');

html {
    height: 100%;
}

body {
    font-family: 'Inconsolata', monospace, sans-serif;
    color: black;
    background-image: url(https://res.cloudinary.com/wickster/image/upload/v1665611710/site-background_qbeggd.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

p {
    font-weight: 600;
    font-size: 120%;
}

h1,
h2,
h3 {
    font-family: 'Karla', sans-serif;
    font-size: 3.5vw;
    color: black;
    -webkit-text-stroke: 0.2px gold;

}

.logo {
    font-family: 'Parisienne', cursive;
    color: whitesmoke;
    -webkit-text-stroke: 0.5px gold;
}

footer {
    margin-top: auto;
    background-color: #343A40;
}








#myCarouselcarouselExampleControls {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 90%;
}

.carousel-inner {
    margin: auto;
    width: min-content;
    max-width: 90%;
    border: solid 2px gold;
}

.carousel-item {
    height: 25rem;
    width: 50rem;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
}


img {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}

a:visited {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit
}

.info {
    background-image: radial-gradient(whitesmoke, white, rgba(255, 0, 0, 0))
}