
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Karla&family=Parisienne&display=swap');


body {
    font-family: 'Inconsolata', monospace, sans-serif;
    background-color: black;
}

h1, h2, h3 {
    font-family: 'Karla', sans-serif;
}

.logo {
    font-family: 'Parisienne', cursive;
}

