@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Karla&family=Parisienne&display=swap');

html {
    height: 100%;
}

body {
    font-family: 'Inconsolata', monospace, sans-serif;
    color: whitesmoke;
    background-image: url(https://res.cloudinary.com/wickster/image/upload/v1665611710/site-background_qbeggd.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3 {
    font-family: 'Karla', sans-serif;
    color: whitesmoke;
    -webkit-text-stroke: 0.5px gold;
}

.logo {
    font-family: 'Parisienne', cursive;
    color: whitesmoke;
    -webkit-text-stroke: 0.5px gold;
}

footer {
    margin-top: auto;
    background-color: #343A40;
}

.carousel-item {
    height: 25rem;
    background-color: #777;

}