{% extends 'base.html' %}

{% block title %}
Djangos Book Table
{% endblock %}

{% block content %}

<div>
    <div class="col-md-12 d-flex justify-content-center align-items-center">
        <h1>Book a Table</h1>
    </div>
    <div class="col-md-12 d-flex justify-content-center align-items-center">
        <p><strong>All bookings are for 1 Hour and 30 minutes and maximum table of 4 people. If you need a longer booking or looking for bookings of more than 4 people, please call the restaurant.</strong></p>
    </div>
</div>
<div class="d-flex justify-content-center">
<div class="container info m-5 p-5 d-flex text-center justify-content-center">
<form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}

    <button type="submit" class="btn-lg btn-outline-dark font-weight-bold">Book</button>

</form>
</div>
</div>
    
{% endblock %}
    