{% extends 'base.html' %}

{% block title %}
Djangos Book Table
{% endblock %}

{% block content %}
<h1>This is the Book Table page</h1>
<p>Welcome to Djangos book a table</p>
<div class="d-flex justify-content-center">
<div class="container info m-5 p-5 d-flex text-center justify-content-center">
<form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}

    <button type="submit" class="btn-lg btn-outline-dark font-weight-bold">Book</button>

</form>
</div>
</div>
    
{% endblock %}
    