{% extends 'base.html' %}

{% block title %}
Djangos Book Table
{% endblock %}

{% block content %}

<div>
    <div class="col-md-12 d-flex justify-content-center align-items-center">
        <h1>Book a Table</h1>
    </div>
    <div class="col-md-12 d-flex justify-content-center align-items-center text-center subtitle p-5">
        <div class="info-main">
            <p><strong>We can accommodate bookings through our website of up to 4 guests,</br> if you would like a
                    booking for more than this, please call the restaurant.</strong></p>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="container info m-2 p-5 d-flex text-center justify-content-center">
        <form action="" method="POST">
            <!--If user is signed in, then they will see this form.-->
            {% if user.is_authenticated %}

            {% csrf_token %}
            {{form.as_p}}

            <button type="submit" class="btn-lg btn-outline-dark font-weight-bold">Book</button>
            {% else %}
            <!--Otherwise they will be given options to register or login instaed.-->
            {% csrf_token %}
            <h3>You must be logged in to book a table. If you don't have an account with us already, please Register.
                Otherwise please log in.</h3>
            <a href="{% url 'account_login' %}"><button type="button"
                    class="btn-lg btn-outline-dark font-weight-bold">Login</button></a>
            <a href="{% url 'account_signup' %}"><button type="button"
                    class="btn-lg btn-outline-dark font-weight-bold">Register</button></a>

            {% endif %}
        </form>
    </div>
</div>

{% endblock %}