{% extends 'base.html' %}

{% block title %}
Amend Booking
{% endblock %}

{% block content %}

<div>
    <div class="col-md-12 d-flex justify-content-center align-items-center">
        <h1>Amend Booking</h1>
    </div>
    <div class="col-md-12 d-flex justify-content-center align-items-center text-center subtitle p-5">
        <p><strong>We can accommodate bookings through our website of up to 4 guests,</br> if you would like a booking for more than this, please call the restaurant.</strong></p>
    </div>
</div>
<div class="d-flex justify-content-center">
<div class="container info m-2 p-5 d-flex text-center justify-content-center">
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    


    <button type="submit" class="btn-lg btn-outline-dark font-weight-bold">Update Booking</button>

</form>
</div>
</div>
    
{% endblock %}

