{% extends 'base.html' %}

{% block title %}
Djangos Homepage
{% endblock %}

{% block content %}
<div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center align-items-center m-2">
        <h1>Welcome to Djangos Restaurant</h1>
      </div>
    </div>
  </div>
  <!--Bootstrap Carousel-->
  <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://res.cloudinary.com/wickster/image/upload/v1665336834/hero-image_bunkh0.jpg" class=""
          alt="Chef cooking food at Djangos">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/wickster/image/upload/v1665336836/hero-3_oeqo4p.jpg" class=""
          alt="female dining at Djangos">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/wickster/image/upload/v1665336834/hero-2_qhynua.jpg" class=""
          alt="Meal and drink serves at Djangos">
      </div>
    </div>
  </div>
<!--Image that will be shown for screensizes below 600px-->
  <div class="small-screen-image">
    <img src="https://res.cloudinary.com/wickster/image/upload/v1665336834/hero-image_bunkh0.jpg"
      alt="Chef cooking food at Djangos">
  </div>

  <div class="container">
    <div class="row">

      <div class="d-flex justify-content-center align-items-center mt-4 p-3 rounded info-main">
        <p>Located in Castlefield, Manchester, Djangos is a much beloved modern restaurant offering a range of different
          cuisines and has welcomed visitors for over 10 years. To make a booking with us, please first register. Once
          you have booked your table, you will be able to amend or cancel your booking. We look forward to hopefully
          welcoming you soon! </p>
      </div>
    </div>
  </div>


</div>
{% endblock %}