{% extends 'base.html' %}

{% block title %}
Djangos Menu
{% endblock %}

{% block content %}
<div>
    <div class="col-md-12 d-flex justify-content-center align-items-center">
        <h1>Djangos Menu</h1>
    </div>
    <div class="col-md-12 d-flex justify-content-center align-items-center subtitle">
        <div class="info-main">
            <p><strong>
                    <span class="vegetarian">V</span> = Suitable for vegetarians.<br>

                    <span class="vegan">VG</span> = Suitable for vegans.</strong></p>
        </div>
    </div>
</div>
<div class="container menu-container info mb-4 p-3">
    <table style="width:100%">
        <tr>
            <th class="justify-content-center">
                <h2> STARTERS </h2>
            </th>
        </tr>
<!--for loop that goes through the model with the menu and finds all the starters-->
        {% for dish in object_list %}
        {% if dish.food_type == "Starter" %}
        <tr>
            <td><strong> {{ dish.name }}, {% if dish.vegetarian == True %} <span
                        class="vegetarian">V</span>{% endif %}{% if dish.vegan == True %} <span
                        class="vegan">VG</span>{% endif %}</strong> <i>{{ dish.description }}</i></td>
            <td><strong>£{{ dish.price }}</strong></td>
        </tr>
        {% endif %}
        {% endfor %}

        <tr>
            <th class="justify-content-center">
                <h2> MAINS </h2>
            </th>
        </tr>
<!--for loop that goes through the model with the menu and finds all the Mains-->
        {% for dish in object_list %}
        {% if dish.food_type == "Mains" %}
        <tr>
            <td><strong>{{ dish.name }}, {% if dish.vegetarian == True %} <span
                        class="vegetarian">V</span>{% endif %}{% if dish.vegan == True %} <span
                        class="vegan">VG</span>{% endif %}</strong> <i>{{ dish.description }}</i></td>
            <td><strong>£{{ dish.price }}</strong></td>
        </tr>
        {% endif %}
        {% endfor %}

        <tr>
            <th class="justify-content-center">
                <h2> DESSERTS </h2>
            </th>
        </tr>
<!--for loop that goes through the model with the menu and finds all the Desserts-->
        {% for dish in object_list %}
        {% if dish.food_type == "Dessert" %}
        <tr>
            <td><strong> {{ dish.name }}, {% if dish.vegetarian == True %} <span
                        class="vegetarian">V</span>{% endif %}{% if dish.vegan == True %} <span
                        class="vegan">VG</span>{% endif %}</strong> <i>{{ dish.description }}</i></td>
            <td><strong>£{{ dish.price }}</strong></td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
</div>
{% endblock %}